<div style="text-align:center;">

  <div *ngIf="estado==='aplicacion'">
    <h1>Clave de números</h1>
    <b>Intrucciones:</b>
    <p>Registre la calificacion obtenida por el paciente en la prueba</p>    
    <br>
    <div class="form-group">
      <mat-label>Puntuación del paciente: </mat-label> 
      <mat-form-field>
        <input matInput type="number" required id="resultado"  [(ngModel)]="resultado" name="resultado">
      </mat-form-field>
    </div>
    <br> 
    <app-card-button
      type='button'
      message="Terminar"
      (messageEvent)="MostrarResumen()"
      style="margin: 5px;"
    ></app-card-button>
  </div>

  <app-results  *ngIf="estado==='terminado'"
  nameTest="Clave de numeros"
  [result]="getResultado()"
  route='/wais'
  ></app-results>

</div>
