<div id="matrices-container">

  <div *ngIf="estado==='instrucciones'">
    <br/>
    <p>Aqui deben aparecer las instrucciones que debe seguir para calificar la prueba de cubos</p>
    <p>Recuerde que se inicia en el estimulo 1 en caso de sospechar una discapacidad intelectual</p> <br/>
    
    <app-card-button
            type='button'
            message="Iniciar Subprueba"
            (messageEvent)="changeState()"
    ></app-card-button>
  </div>
  
  <div *ngIf="estado==='seleccion'">
    <p>En que estimulo desea iniciar la prueba? </p>
    <app-card-button
            type='button'
            message="Estimulo 1"
            (messageEvent)="imagenInit(2)"
            style="margin: 5px;"
    ></app-card-button>
    <app-card-button
            type='button'
            message="Estimulo 4"
            (messageEvent)="imagenInit(5)"
            style="margin: 5px;"
    ></app-card-button>
  </div>

  <div *ngIf="estado==='aplicacion'" style="text-align:center; padding-top:5%">
    <img [src]="estimuloActual" />
  </div>

  <div *ngIf="estado==='terminado'" style="text-align:center">
      <h2>Terminaste la subprueba de matrices</h2>
      <h4>Tu resultado es: {{getResultado()}}</h4>
      <app-card-button
            type='button'
            message="Revisión de resultados"
            (messageEvent)="aRevisar()"
            style="margin: 5px;"
    ></app-card-button>
      <app-card-button
            type='button'
            message="Aceptar"
            (messageEvent)="aceptar()"
            style="margin: 5px;"
      ></app-card-button>
  </div>

  <div *ngIf="estado==='revision'" style="text-align:center">
    <h3>El puntaje por cada Item fue: </h3>
    <form id="myForm">
      <div *ngFor="let resultado of resultados; let i=index" >
        <div *ngIf="i!==0 && i!==1">
          <label for="i">Item {{i-1}}:</label>
          <input type="number" id="{{i}}" value={{resultado}} style="margin: 5px"/>
        </div>
      </div>
      <app-card-button
            type='button'
            message="Regresar"
            (messageEvent)="regresarAct()"
            style="margin: 5px;"
    ></app-card-button>
      <app-card-button
              type='button'
              message="Actualizar Datos"
              (messageEvent)="actualizarResultados()"
              style="margin: 5px;"
      ></app-card-button>
      <app-card-button
              type='button'
              message="Aceptar"
              (messageEvent)="aceptar()"
              style="margin: 5px;"
      ></app-card-button>
    </form>
  </div>
</div>
