#Azul{
    color:blue
}


#Verde{
    color:green
}

#Rojo{
    color: red
    
}


#category-card{
    background-color: #017F8D;
    border-radius: 3%;
    text-align: center;    
}

#end-button{
    float: right;
    padding-right: 5%;
}

#inicio{
    text-align: center;
    padding-top: 3%
}

h2{
    font-size: 70px;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

#resultados{
    font-size: 30px;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 20%;
}