<div id='stroop'>

    <app-start-test name='STROOP' 
    *ngIf="test==='start'"
    (messageEvent)="changeTest()"
    ></app-start-test>
   
    <div id='inicio' *ngIf="test==='words' || test==='colors' || test==='mix'">
        <h1>STROOP</h1> <br/>
        <b>Intrucciones: </b>
        <p>A continuacion apareceran una serie de palabras</p>
        <p *ngIf=" test!=='colors'; else elseBlock">el paciente debera leer la palabra en voz alta </p> 
        <ng-template #elseBlock>
        <p>el paciente debera leer en voz alta y clara el color </p> 
        <p> en el cual se encuentra escrita la palabra  </p>
        </ng-template>  

        <br/>
        <app-card-button
            type='button'
            message="Iniciar Subprueba"
            (messageEvent)="changeTest()"
        ></app-card-button>  
    </div>
    


    <div *ngIf="test==='test-words'">

            <h2>{{words[progressWords]}}</h2>

    </div>



    <div *ngIf="test==='test-colors'">
            <h2 id={{colors[progressColors]}}>XXXX</h2>
    </div>



    <div *ngIf="test==='test-mix'">
        
        <h2 id={{colors[progressMix]}}>{{words[progressMix]}}</h2>  

    </div>



    <div id='resultados'*ngIf="test==='resultados'">
        <h3>Resultados</h3 >
        <p> Cantidad de palabras: {{progressWords}}</p>
        <p> Cantidad de colores: {{progressColors}}</p>
        <p> Cantidad de palabras y colores: {{progressMix}}</p>
    </div>

    

    <div id='end-button' 
    *ngIf="test!=='start' && test!=='words' && test!=='colors' && test!=='mix'">
        <app-card-button
            type='button'
            message="Finalizar Subprueba"
            (messageEvent)="changeTest()"
        ></app-card-button>  
    </div> 
    
</div>