<div id='stroop'>
   
    <div id='inicio' *ngIf="test==='words' || test==='colors' || test==='mix'">
        <div id='category-card' class="example-ripple-container mat-elevation-z4"
            matRipple
            (click)="changeTest()">

                <h2>Iniciar Prueba - {{test}}</h2> 
        </div>   
    </div>

    <div *ngIf="test==='test-words'">

            <h1>{{words[progressWords]}}</h1>

    </div>

    <div *ngIf="test==='test-colors'">
            <h1 id={{colors[progressColors]}}>XXXX</h1>
    </div>

    <div *ngIf="test==='test-mix'">
        
        <h1 id={{colors[progressMix]}}>{{words[progressMix]}}</h1>  

    </div>

    <div id='resultados'*ngIf="test==='resultados'">
        <h2>Resultados</h2>
        <p> Cantidad de palabras: {{progressWords}}</p>
        <p> Cantidad de colores: {{progressColors}}</p>
        <p> Cantidad de palabras y colores: {{progressMix}}</p>
    </div>

    <div id='end-button'>
        <div id='category-card' *ngIf="test!=='words' && test!=='colors' && test!=='mix'" class="example-ripple-container mat-elevation-z4"
                matRipple
                (click)="changeTest()">

                    <h2>Finalizar subprueba</h2> 
        </div>
    </div> 
    
</div>