#category-card{
    background-color: #017F8D;
    border-radius: 3%;
    text-align: center;   
}

#cancelwaisbutton{
    background-color: #017F8D;
}
#cancelwaisbutton:hover{
    background-color: #7DC545;
}

.subpruebas{
    margin: 7px;
    background-color: #017F8D;
}

.subpruebas:hover{
    background-color: #7DC545
}

.subprueba-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 10%;
    padding-right: 10%;
}

#iniciowais{
    text-align: center;
}