

#category-card{
    background-color: #017F8D;
    border-radius: 3%;
    
}

h2{
    text-align: center;
    font-size: xx-large;
}

#image{
    text-align: center;
    max-height: 300px;
}


#category-card:hover{
    background-color: #7DC545
}

#primary{
    background-color: #017F8D;
    border-radius: 5%;
    width: 100%
}

#primary:hover{
    background-color: #7DC545
}