

.subprueba-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    grid-row-gap: 10%;
    grid-column-gap: 5%
}

app-card-button{
    width: 100%;
}

#iniciowais{
    text-align: center;
}