<div id="inicio">

  <div id= "inicio" *ngIf="estado==='instruccion'">
      <h1>Pistas</h1>
      <b>Intrucciones generales:</b>
      <p>A continuación se le realizara una serie de preguntas al paciente</p>
      <p>el cual debera responder deacuerdo a la pregunta que se le haga.</p>
      <br/>
      <b>Intruccsiones para registrar la respuesta de paciente:</b>
      <br/>
      <br/>
      <li>La respuesta dada por el paciente debe ser registrada en la casilla de respuesta</li>
      <li>Se debe escoger, teniendo en cuenta la guía, entre 0 y 1 para la puntuación de la respuesta</li>
      <br/>
      <app-card-button type='button' message="Iniciar subprueba"
        (messageEvent)="estado='seleccion'"></app-card-button>    
    </div>

  <div *ngIf="estado==='seleccion'">
    <h1>Pistas</h1>
    <p>En que estimulo desea iniciar la prueba? </p>
    <p>Pacientes con sospechas de discapacidad intelectual o pacientes de edad 6-9:</p>
    <app-card-button type='button' message="Estimulo 1" 
    (messageEvent)="imagenInit(1)"></app-card-button> 
    <p>Pacientes de edad 10-16:</p>
    <app-card-button type='button' message="Estimulo 5" 
    (messageEvent)="imagenInit(5)"></app-card-button> 

    <p>No aplicar a paciente de edad  70-89</p>
  </div>

  <div *ngIf="estado==='test'"> 
      <h1>Item #{{numberItem}}</h1>
      
      <h2>{{clues[numberItem-1]}}</h2>      
      
      <div id="puntos" class="form-group">
        <div id="field">
          <mat-label for="punto1"><b>1 Punto</b></mat-label>
          <br>
          <mat-form-field>
            <textarea matInput cols="500" rows="6" readonly>{{rightAnswer[numberItem-1]}}</textarea> 
          </mat-form-field>
        </div>
        
        <div id="field">
          <mat-label for="punto1"><b>0 Punto</b></mat-label>
          <br>
          <mat-form-field>
            <textarea matInput cols="500" rows="6" readonly>{{badAnswer[numberItem-1]}}</textarea>
          </mat-form-field> 
        </div>
      </div>    
      <br>
      <mat-label>Respuesta dada:  </mat-label>
      <mat-form-field>
        <input matInput id="respuestaDada"  [(ngModel)]="respuestaDada" name="respuestaDada">
      </mat-form-field>
      <br>
      <br>
      <div id="bot">
        <app-card-button type='button' message="0 Puntos" 
        (messageEvent)="cambiarPrueba(0)"></app-card-button> 
        <app-card-button type='button' message="1 Punto" 
        (messageEvent)="cambiarPrueba(1)" ></app-card-button> 

      </div>
    </div>
  
  <app-results  *ngIf="estado==='resultados'"
    nameTest="Pistas"
    [result]="getResultado()"
    route='/wisc'
    (review)="aRevisar()">
  </app-results>

  <h2 *ngIf="estado==='revision'">El puntaje por cada Item fue: </h2>

  <div  *ngIf="estado==='revision'" >
      
      <div id="resultados" >
        <label for="item">Item No.</label>
        <label for="puntuacion">Puntuación</label>
        <label for="respuestaDada">Respuesta dada:</label>
      </div>
      
      <div id="resultados"  *ngFor="let resultado of resultados; let i=index" >
            <label for="i">{{i+1}}:</label>
            <mat-form-field>
              <input matInput type="number" id="{{i}}" value={{resultado}}/>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" value={{respuestas[i]}}/>
            </mat-form-field>
      </div>
   
  </div>


  <div id='buttons' *ngIf="estado==='revision'">
      <app-card-button type='button' message="Regresar" 
      (messageEvent)="regresarAct()"></app-card-button> 
      <app-card-button type='button' message="Actualizar Datos" 
      (messageEvent)="actualizarResultados()"></app-card-button> 
  </div>
  
</div>
