<div style="text-align:center;" id="test">
  <div id= "inicio" *ngIf="estado==='instruccion'">
    <h1>Información</h1>
    <b>Intrucciones generales:</b>
    <p>A continuación se mostrará el enunciado por cada uno de los puntos, ademas</p>
    <p>Se dispone de cajas de texto que sirven como guia para evaluar la respuesta dada por el paciente.</p>
    <p>Debajo de las cajas de texto puede haber información en caso de que el paciente de ciertas respuestas</p>
    <br/>
    <b>Intrucciones para registrar la respuesta de paciente:</b>
    <br/>
    <br/>
    <li>La respuesta dada por el paciente debe ser registrada en la casilla de respuesta</li>
    <li>Se debe escoger, teniendo en cuenta la guía, entre 1 y 0 para la puntuación de la respuesta</li>
    <br/>
    <app-card-button type='button' message="Iniciar subprueba"
      (messageEvent)="estado='seleccion'"></app-card-button>    
  </div>

  <div *ngIf="estado==='seleccion'">
    <h1>Información</h1>
    <p>En que estimulo desea iniciar la prueba? </p>
    <p>Pacientes de edad 6-8 años o con sospechas de discapacidad intelectual:</p>
    <app-card-button type='button' message="Item 5"
    (messageEvent)="testInit(4)"></app-card-button> 
    <br/><br/>
    <p>Pacientes de edad 9-11:</p>
    <app-card-button type='button' message="Item 10" 
    (messageEvent)="testInit(9)"></app-card-button> 
    <br/><br/>
    <p>Pacientes de edad 12-16:</p>
    <app-card-button type='button' message="Item 12" 
    (messageEvent)="testInit(11)"></app-card-button> 
  </div>

  <div *ngIf="estado==='aplicacion'"> 
    <h1>Item #{{indexActual+1}}</h1>
    <h2>{{consignaActual}}</h2>
    
    <div id="puntos" class="form-group">
      <div id="field">
        <mat-label for="punto1"><b>1 Punto</b></mat-label>
        <br>
        <mat-form-field>
          <textarea matInput cols="500" rows="6" readonly>{{respuestaCorrectaAct}}</textarea> 
        </mat-form-field>
      </div>
      
      <div id="field">
        <mat-label for="punto1"><b>0 Punto</b></mat-label>
        <br>
        <mat-form-field>
          <textarea matInput cols="500" rows="6" readonly>{{respuestaErroneaAct}}</textarea>
        </mat-form-field> 
      </div>
    </div>    
    
    <div class="form-group">
      <mat-label for="comentarioA">{{comentarioAct}}</mat-label>
    </div>
  </div>

  <div *ngIf="estado==='aplicacion'">
    <br>
    <mat-label>Respuesta dada:  </mat-label>
    <mat-form-field>
      <input matInput required id="respuestaDada"  [(ngModel)]="respuestaDada" name="respuestaDada">
    </mat-form-field>
    <div class="form-group">
      <mat-label>Puntuación: </mat-label>
      <mat-radio-group aria-label="Puntuacion" [(ngModel)]="radioPunto">
        <mat-radio-button id="radioPunto0" name="radioPunto0" [value]="defRadioPunto0">0 Puntos</mat-radio-button>
        <mat-radio-button id="radioPunto1" name="radioPunto1" [value]="defRadioPunto1">1 Puntos</mat-radio-button>
      </mat-radio-group>
    </div>
    <br>
     <app-card-button type='button' message="Calificar" 
    (messageEvent)="verificarResultado()"></app-card-button> 
  </div>

  <app-results  *ngIf="estado==='terminado'"
    nameTest="informacion"
    [result]="getResultado()"
    (review)="aRevisar()">
  </app-results>

  <div *ngIf="estado==='revision'">
    <h3>El puntaje por cada Item fue: </h3>
    <form id="myForm">
      <div *ngFor="let resultado of resultados; let i=index" >        
        <mat-label for="i">Item: {{i+1}}:</mat-label>
        <mat-form-field>
          <input matInput type="number" id="{{i}}" value={{resultado}}/>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div id='buttons' *ngIf="estado==='revision'">
    <app-card-button type='button' message="Regresar" 
    (messageEvent)="regresarAct()"></app-card-button> 
    <app-card-button type='button' message="Actualizar Datos" 
    (messageEvent)="actualizarResultados()"></app-card-button> 
  </div>
</div>
