<div>

  
  <div id= "inicio" *ngIf="estado==='instruccion'">
    <h1>Balanzas</h1>
    <b>Intrucciones generales:</b>
    <p>A continuacion se enseñaran unas balanzas con dos platillos</p>
    <p>el sujeto debe seleccionar entre cinco opciones</p>
    <p>el objeto con el cual equilibrar la balanza</p>
    <br/>
    <b>Intrucciones para registrar la respuesta de paciente:</b>
    <br/>
    <br/>
    <li>0 : En caso de que no responda </li>
    <li>1-2-3-4: para indicar la respuesta del paciente</li>
    <p>El sistema calificara automaticamente la respuesta</p>
    <br/>
    <app-card-button type='button' message="Iniciar subprueba"
      (messageEvent)="next()"></app-card-button>  

  </div>

  <div  id= "inicio" *ngIf="estado==='seleccion'">
    <h1>Balanzas</h1>
    <p>En que estimulo desea iniciar la prueba? </p>
    <p>Pacientes con sospechas de discapacidad intelectual:</p>
    <app-card-button type='button' message="Estimulo 1"
    (messageEvent)="imagenInit(1)"></app-card-button>  
    <p>Pacientes de edad 16-69:</p>
    <app-card-button type='button' message="Estimulo 4"
      (messageEvent)="imagenInit(4)"></app-card-button>  
    <br/>
    <p><b>No aplicar a paciente de edad  70-89</b></p>
  </div>

  
  <div  id = "container"*ngIf="estado==='a' || estado==='b' 
  || estado==='ejemplo' ">
      <h1> Estimulo {{estado}}</h1>
      <img   [src]="'assets/estimulos/balanzas/'+estado+'.png'" />
      <app-card-button type='button' message="Siguiente"
      (messageEvent)="next()"></app-card-button>  
  </div>

  <div id = "container" *ngIf="estado==='test'" style="text-align:center; padding-top:5%">
      <div >  
        <h1> Estimulo {{numberItem}}</h1>
        <h2 *ngIf="time"><u><I>¡TIEMPO TERMINADO!</I></u></h2>
        </div>
      <div id = "container">
      <img   [src]="'assets/estimulos/balanzas/'+numberItem+'.png'" />
    </div>
  </div>



  <app-results  *ngIf="estado==='resultados'"
  nameTest="Balanzas"
  [result]="getResultado()"
  (review)="next()"></app-results>
  

  <div *ngIf="estado==='revision'" style="text-align:center">
    <h3>El puntaje por cada Item fue: </h3>
    <form id="myForm">
      <div *ngFor="let resultado of resultados; let i=index" >
        <div>
          <label for="i">Item {{i+1}}:</label>
          <input type="number" id="{{i}}" value={{resultado}} style="margin: 5px" min="0" max="1"/>
        </div>
      </div>

      <div id='buttons'>
        <app-card-button type='button' message="Regresar"
        (messageEvent)="next()"></app-card-button> 
        <app-card-button type='button' message="Actualizar Datos"
        (messageEvent)="actualizarResultados()"></app-card-button> 
      </div>
    </form>
  </div>

</div>
